---
import '../styles/global.css'
import Layout from "../layouts/Layout.astro";

import AppHeader from '../components/Header.astro';
import AppFooter from '../components/Footer.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

---


<Layout>
    <AppHeader />
    
    <section class="py-40">
        <div class="max-w-3xl mx-auto">
          <div class="text-center mb-15">
            <h1 class="title text-5xl font-black">Insights & Expertise</h1>
          </div>
          <div class="p-3">
            {allPosts.map(({url, frontmatter, rawContent }: any) => 
               <a href={url} class="flex gap-3 items-center bg-white p-5 border-2 mb-5 transition-all duration-200 hover:shadow-[4px_4px_0px_rgba(0,0,0,0.3)]">
                <div>
                  <div class="w-[200px] h-[130px] overflow-hidden border-2">
                  <img src={frontmatter?.image?.url} alt="" class="w-full h-full object-cover" />
                </div>
                </div>
                <div class="flex flex-col gap-2">
                    <h1 class="line-clamp-2 text-xl font-bold">{frontmatter.title}</h1>
                    <div class="line-clamp-2" set:html={rawContent}></div>
                </div>
               </a>
             )}
          </div>
        </div>
    </section>

    <AppFooter />
</Layout>