---
const { text, link, target } = Astro.props

import svgHl from '../assets/hl.svg'
---

<div class="relative group">
   <a href={link} target={target} class="bg-[var(--blue)] text-black text-md font-medium flex items-center h-12 px-6 border-3 rounded-full ">{text}</a>
   <img src={svgHl.src} width="30"  class="absolute -right-7 -bottom-3 transition-all duration-200 group-hover:-bottom-4" />
</div>