---
import svgPinkStar from '../assets/pink-star.svg'
import Button from './Button.astro'
import { buy } from '../sample'

---


<section class="px-3" id="hire">
    <div class="max-w-3xl mx-auto bg-white text-center flex flex-col gap-4 border-3 shadow-[8px_8px_0px_rgba(0,0,0,0.3)]  relative p-10">
     <h1 class="text-3xl">Ready to transform your business operations?</h1>
     <p class="text-lg max-w-lg mx-auto">Learn who we are and how our Philippines-based outsourcing solutions can help your business grow</p>
     <div class="flex justify-center">
       <Button text={buy.title} link={buy.link} target="_blank" />
     </div>
     <img src={svgPinkStar.src} alt="svg" width="80" class="absolute -top-10 right-20" />
    </div>
  </section>