---
const mytools = [
  'Project Management', 'Design Tools', 'Communication Apps', 'Business Systems', 'Productivity Software', 'Analytics', 'CRM Solutions', 'Marketing Tools'
]
--- 
<script>
import { gsap } from 'gsap';

document.addEventListener('DOMContentLoaded', function () {
    const clonedContainer = document.querySelector('#cloned') as any

    Array.from(clonedContainer.children).forEach((img: any) => {
        const clone = img.cloneNode(true); 
        clonedContainer.appendChild(clone); 
    })

    const tl = gsap.timeline({ repeat: -1 });
    tl.to(clonedContainer, {
        x: -(clonedContainer.scrollWidth / 2),  duration: 30, ease: 'none'
    })
});
</script>
  


<section class="bg-black py-6 relative z-5">
    <div class="overflow-hidden">
        <div class="flex items-center gap-10 md:gap-30" id="cloned">
            {mytools.map(item => (
              <div class="text-white flex-1 text-2xl whitespace-nowrap"> {item} </div>
            ))}
        </div>
    </div>
</section>



